<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sistema gerenciador de atividades</title>
</head>
<body>
    {{#if log}}
    <header>
        <p>{{nome_gerente}}</p>
        <a href="/cadastrar_atividade">cadastrar_atividade</a>
        <a href="/listar_atividade">listar_atividade</a>
        <a href="/editar_atividade">editar_atividade</a>
        <a href="/excluir_atividade">excluir_atividade</a>
        <br><br>
        <a href="/cadastrar_setor">cadastrar_setor</a>
        <a href="/listar_setor">listar_setor</a>
        <a href="/editar_setor">editar_setor</a>
        <a href="/excluir_setor">excluir_setor</a>
        <a href="/">sair da conta</a>
    </header>
    {{else}}
    <header>
        <p>Você precisa entrar na sua conta</p>
    </header>
    {{/if}}
    <main>{{{body}}}</main>
</body>
</html>