<form action="/cadastrar_setor" method="post">
<label for="num_setor">num_setor</label>
<input type="text" name="num_setor">
<br><br>
<label for="nome_setor">nome_setor</label>
<input type="text" name="nome_setor">
<br><br>
<label for="gerenteId">gerenteId</label>
<input type="text" name="gerenteId">
<br><br>
<button type="submit">Cadastrar</button>
</form>
{{#if msg}}
<p>{{msg}}</p>
{{/if}}